<div class="container air">
  <table class="table table-bordered mx-auto">
    <tbody>
      <tr>
        <td><%= link_to 'Usuarios', admins_users_path, class: 'btn btn-success btn-lg btn-block' %></td>
        <td><%= link_to 'Cursos', admins_courses_path, class: 'btn btn-success btn-lg btn-block' %></td>
      </tr>
    </tbody>
  </table>
</div>
