<div class="row">
  <div class="col-md-6 ">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @alumnos.each do |alumno| %>
          <tr>
            <td><%= User.find(alumno.user_id).email %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'Back', inscriptions_courses_path %>
  </div>
</div>
