<div class="container air">
  <div class="row">
    <div class="col-md-6">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @inscriptions.each do |i| %>
            <tr>
              <td><%= i.course.name %></td>
              <td>
                <%= link_to 'Ir a Clases', course_path(i.course_id), class: 'btn btn-primary' %>
                <%= link_to 'Informacion', info_course_path(i.course_id), class: 'btn btn-primary' %>
                <% if i.teacher? %>
                  <%= link_to 'Transmitir', init_transmission_course_path(i.course), class: 'btn btn-primary'  %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
