<!-- Intereses -->
	<section class="air bg-light text-center">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div class="mx-auto mb-5 mb-lg-3">
						<div class="icon pb-3">
							<i class="icon-user-following m-auto text-primary"></i>
						</div>
						<h3>Quienes Somos</h3>
						<p class="lead mb-0">ORGANIZACIÓN DE LA FUNDACIÓN NIÑO Y CÁNCER</p>
						<button type="submit" class="btn btn-primary mt-4">Visita</button>
					</div>
					ñlfdsjfñlasdkf
				</div>
				<div class="col-lg-4">
					<div class="mx-auto mb-5 mb-lg-3">
						<div class="icon pb-3">
							<i class="icon-heart m-auto text-primary"></i>
						</div>
						<h3>Nuestros Objetivos</h3>
						<p class="lead mb-0">TRATAMIENTO INTEGRAL A LOS NIÑOS CON CÁNCER</p>
						<button type="submit" class="btn btn-primary mt-4">Conoce</button>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="mx-auto mb-0 mb-lg-3">
						<div class="icon pb-3">
							<i class="icon-like m-auto text-primary"></i>
						</div>
						<h3>Como Colaborar</h3>
						<p class="lead mb-0">TE PROPONEMOS LAS SIGUIENTES FORMA DE COLABORAR</p>
						<button type="submit" class="btn btn-primary mt-4">Revisa</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Image Showcases -->
	<section class="showcase">
		<div class="row no-gutters">
			<div class="col-lg-6 order-lg-2 text-white showcase-img" style="background: url('images/actividades.png') center; background-size: cover;"></div>
			<div class="col-lg-6 order-lg-1 my-auto showcase-text text-lg-right">
				<h2>Actividades</h2>
				<p class="lead mb-0">La fundación está convencida que para derrotar el cáncer no sólo hay que preocuparse de curar el cuerpo de los pacientes. El espíritu también se ve afectado y para salir adelante es esencial querer curarse.</p>
			</div>
		</div>
		<div class="row no-gutters">
			<div class="col-lg-6 text-white showcase-img" style="background: url('images/becas.jpg') center; background-size: cover;"></div>
			<div class="col-lg-6 my-auto showcase-text">
				<h2>Becas de Estudio</h2>
				<p class="lead mb-0">El objetivo de este proyecto es beneficiar a jóvenes recuperados de cáncer con becas académicas, para lograr la continuidad de estudios pendientes y obtener una profesión futura y reinserción en la sociedad.</p>
			</div>
		</div>
		<div class="row no-gutters">
			<div class="col-lg-6 order-lg-2 text-white showcase-img" style="background: url('images/educacion.jpg') center; background-size: cover;"></div>
			<div class="col-lg-6 order-lg-1 my-auto showcase-text text-lg-right">
				<h2>Educación sobre la enfermedad</h2>
				<p class="lead mb-0">Nuestra Fundación desarrolla actividades informativas sobre la enfermedad, tratamiento, cuidados en el hogar y manejo del impacto de la enfermedad para los niños las familias y la comunudad.</p>
			</div>
		</div>
		<div class="row no-gutters">
			<div class="col-lg-6 text-white showcase-img" style="background: url('images/voluntariado.jpg') center; background-size: cover;"></div>
			<div class="col-lg-6 my-auto showcase-text">
				<h2>Voluntariado</h2>
				<p class="lead mb-0">Contamos con un Equipo multidisciplinario profesional y administrativo que permite abordar todas las actividades de acogida, atención, recaudación y desarrollo general de la tareas propias de la Fundación.</p>
			</div>
		</div>
	</section>
	<!-- Thumbnail -->
	<section class="activities bg-light text-center">
		<h2 class="air">Actividades</h2>
		<div class="row no-gutters">
			<div class="col-12 col-sm-6 col-md-3">
				<div class="thumbnail">
					<div class="col-lg-12 thumbnail-img" style="background: url('images/montana.jpg') center; background-size: cover;"></div>
					<div class="caption py-5">
						<h4>Montaña de la Alegría</h4>
						<p class="lead mb-0 text-justify px-4">Permite a los niños entretenerse sanamente y entrega la posibilidad de compartir de una forma distinta a pequeños que viven una situación similar, lo que se traduce además, en una terapia para el alma, ya que sienten la confianza de contar sus experiencias y compartirlas. </p>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-3 px-2">
				<div class="thumbnail">
					<div class="col-lg-12 thumbnail-img" style="background: url('images/cena.jpg') center; background-size: cover;"></div>
					<div class="caption py-5">
						<h4>Cenas de Navidad</h4>
						<p class="lead mb-0 text-justify px-4">Para los niños con cáncer son meses de lucha, sacrificio y esfuerzo... son meses de ganarle a vida. Con sólo $24.000 (1 UF) lograras de un niño con cancer y su familia, tenagan una navidad digna y felíz.</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-3 px-2">
				<div class="thumbnail">
					<div class="col-lg-12 thumbnail-img" style="background: url('images/campamento.jpg') center; background-size: cover;"></div>
					<div class="caption py-5">
						<h4>Campamento por la Vida</h4>
						<p class="lead mb-0 text-justify px-4">XXI Camping de los Sueños 2016: La experiencia que viven los niños en este campamento es extraordinaria. Regresan con un espíritu renovado, compartir con niños de distintos países que tienen cáncer y leucemia los ayuda a comprender como deben enfrentar la enfermedad.</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-3 px-2">
				<div class="thumbnail">
					<div class="col-lg-12 thumbnail-img" style="background: url('images/futbolito.png') center; background-size: cover;"></div>
					<div class="caption py-5">
						<h4>Torneo de Futbolito y Porristas</h4>
						<p class="lead mb-0 text-justify px-4">Corresponde a un torneo interhospitales en donde participan un centenar de niños junto a sus familias, que han vivido la dolorosa experiencia de luchar contra el cáncer, se reunen para jugar competir y pasarlo bien, siendo una jornada que les devuelve las energias y ganas de vivir.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Auspiciadores -->
	<section class="auspiciadores text-center">
		<div class="container">
			<h2 class="mb-5">Auspiciadores</h2>
			<div class="row">
				<div class="col-sm-4 col-lg-2">
					<div class="auspiciadores-item mx-auto mb-5 mb-lg-0">
						<img class="img-fluid rounded-circle mb-3" src="images/ausp/col_copec.gif" alt="">
					</div>
				</div>
				<div class="col-sm-4 col-lg-2">
					<div class="auspiciadores-item mx-auto mb-5 mb-lg-0">
						<img class="img-fluid rounded-circle mb-3" src="images/ausp/col_mercurio.gif" alt="">
					</div>
				</div>
				<div class="col-sm-4 col-lg-2">
					<div class="auspiciadores-item mx-auto mb-5 mb-lg-0">
						<img class="img-fluid rounded-circle mb-3" src="images/ausp/col_librnac.gif" alt="">
					</div>
				</div>
				<div class="col-sm-4 col-lg-2">
					<div class="auspiciadores-item mx-auto mb-5 mb-lg-0">
						<img class="img-fluid rounded-circle mb-3" src="images/ausp/col_portillo.gif" alt="">
					</div>
				</div>
				<div class="col-sm-4 col-lg-2">
					<div class="auspiciadores-item mx-auto mb-5 mb-lg-0">
						<img class="img-fluid rounded-circle mb-3" src="images/ausp/col_ejercito.jpg" alt="">
					</div>
				</div>
				<div class="col-sm-4 col-lg-2">
					<div class="auspiciadores-item mx-auto mb-5 mb-lg-0">
						<img class="img-fluid rounded-circle mb-3" src="images/ausp/col_arcor.gif" alt="">
					</div>
				</div>
				<div class="col-sm-4 col-lg-2">
					<div class="auspiciadores-item mx-auto mb-5 mb-lg-0">
						<img class="img-fluid rounded-circle mb-3" src="images/ausp/col_falabella.gif" alt="">
					</div>
				</div>
				<div class="col-sm-4 col-lg-2">
					<div class="auspiciadores-item mx-auto mb-5 mb-lg-0">
						<img class="img-fluid rounded-circle mb-3" src="images/ausp/col_nestle.gif" alt="">
					</div>
				</div>
				<div class="col-sm-4 col-lg-2">
					<div class="auspiciadores-item mx-auto mb-5 mb-lg-0">
						<img class="img-fluid rounded-circle mb-3" src="images/ausp/col_radisson.jpg" alt="">
					</div>
				</div>
				<div class="col-sm-4 col-lg-2">
					<div class="auspiciadores-item mx-auto mb-5 mb-lg-0">
						<img class="img-fluid rounded-circle mb-3" src="images/ausp/col_providencia.gif" alt="">
					</div>
				</div>
				<div class="col-sm-4 col-lg-2">
					<div class="auspiciadores-item mx-auto mb-5 mb-lg-0">
						<img class="img-fluid rounded-circle mb-3" src="images/ausp/col_cabrera.jpg" alt="">
					</div>
				</div>
				<div class="col-sm-4 col-lg-2">
					<div class="auspiciadores-item mx-auto mb-5 mb-lg-0">
						<img class="img-fluid rounded-circle mb-3" src="images/ausp/col_soprole.gif" alt="">
					</div>
				</div>
				<div class="col-sm-4 col-lg-2">
					<div class="auspiciadores-item mx-auto mb-5 mb-lg-0">
						<img class="img-fluid rounded-circle mb-3" src="images/ausp/col_scl.gif" alt="">
					</div>
				</div>
				<div class="col-sm-4 col-lg-2">
					<div class="auspiciadores-item mx-auto mb-5 mb-lg-0">
						<img class="img-fluid rounded-circle mb-3" src="images/ausp/col_onestop.gif" alt="">
					</div>
				</div>
				<div class="col-sm-4 col-lg-2">
					<div class="auspiciadores-item mx-auto mb-5 mb-lg-0">
						<img class="img-fluid rounded-circle mb-3" src="images/ausp/col_kampar.gif" alt="">
					</div>
				</div>
				<div class="col-sm-4 col-lg-2">
					<div class="auspiciadores-item mx-auto mb-5 mb-lg-0">
						<img class="img-fluid rounded-circle mb-3" src="images/ausp/col_duty.gif" alt="">
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Contact -->
	<div class="contact">
		<div class="overlay"></div>
	</div>
